<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Development page</title>
</head>
<body>
    {% include 'home.html' %}

    <form action="">
        <fieldset>
            <legend>Registration form</legend>
            Registration No :: <input type="text"><br><br>
            Contact no :: <input type="text"><br><br>
            Course :: <br><br><input type="checkbox"> Python 
            Course :: <br><br><input type="checkbox"> Web Development 
            Course :: <br><br><input type="checkbox"> Oracle 
            Course :: <br><br><input type="checkbox"> Java 
        </fieldset>
    </form>
    
</body>
</html>