<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Project</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'cssfile/style.css' %}">
</head>

<body>
    <header id="header">
        <div class="logo_srch">
            <a href="#"><img src="{% static 'images/kamal husen logo.png' %}" alt="logo_here"></a>
            <p><i class="fa-solid fa-magnifying-glass" style="color: #86b2fd;"></i>
                <input type="search" name="search" id="srch" placeholder="Search">
            </p>
        </div>
        <div class="menu">
            <nav>
                <ul>
                    <li><a href="#cat">Marketplace</a></li>
                    <li><a href="#courselist">Course List</a></li>
                    <li><a href="#">Pages <i class="fa-solid fa-caret-down fa-2xs" style="color: #83a2d8;"></i></a></li>
                    <li><a href="#"><i class="fa-solid fa-cart-shopping" style="color: #5179bd;"></i>(1)</a></li>
                    <li><a href="#"><i class="fa-solid fa-circle" style="color: #416fbe;"></i></a>Hello</li>
                </ul>
            </nav>
        </div>
    </header>


    <section class="hero_section" id="hero">
        <div class="left">
            <div class="upper">
                <h1>You will get popular
                    online courses here</h1>
                <p>loremChoose online video courses with new
                    additions published every month</p>
                <div class="btn_group">
                    <button class="btn" type="button">Get Started</button>
                    <a href="#">Browse Courses <i class="fa-solid fa-forward fa-xs" style="color: #326bcd;"></i></a>
                </div>
            </div>
            <div class="lower">
                <div class="lcard">
                    <h2>940+</h2>
                    <p>Courses</p>
                </div>
                <div class="lcard">
                    <h2>5K+</h2>
                    <p>Active Students</p>
                </div>
            </div>
        </div>
        <div class="right">
            <img class="rimg" src="{% static 'images/pro lady.png' %}" alt="">
        </div>
    </section>

    <!-- service section -->

    <section class="service" id="courselist">
        <h2>The Best online courses get here</h2>
        <p>Develop your new skill in 2024 with an ultimate to our 900+ courses.<span> Make sure your new career</span>
        </p>

        <div class="card_group">
            <div class="card">
                <img src="{% static 'images/coding1.png' %}" alt="">
                <div class="desc">
                    <span class="rategroup">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span></span>
                    <h3>A Comprehensive Guide for Frontend Expert in India</h3>
                    <div class="cicle">D</div> <span>By</span> Divya
                </div>
                <hr>
                <div class="card_bottom">
                    <span>4000 $</span>
                    <button class="btn btn-bot" type="button"><i class="fa-solid fa-cart-shopping"
                            style="color: #5179bd;"></i> view cart</button>
                </div>
            </div>

            <div class="card">
                <img src="{% static 'images/coding1.png' %}" alt="">
                <div class="desc">
                    <span class="rategroup">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span></span>
                    <h3>A Comprehensive Guide for Frontend Expert in India</h3>
                    <div class="cicle">D</div> <span>By</span> Divya
                </div>
                <hr>
                <div class="card_bottom">
                    <span>4000 $</span>
                    <button class="btn btn-bot" type="button"><i class="fa-solid fa-cart-shopping"
                            style="color: #5179bd;"></i> view cart</button>
                </div>
            </div>


            <div class="card">
                <img src="{% static 'images/coding1.png' %}" alt="">
                <div class="desc">
                    <span class="rategroup">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span></span>
                    <h3>A Comprehensive Guide for Frontend Expert in India</h3>
                    <div class="cicle">D</div> <span>By</span> Divya
                </div>
                <hr>
                <div class="card_bottom">
                    <span>4000 $</span>
                    <button class="btn btn-bot" type="button"><i class="fa-solid fa-cart-shopping"
                            style="color: #5179bd;"></i> view cart</button>
                </div>
            </div>


        </div>

        <div class="btn btn-browse">Browse All Courses</div>


    </section>

    <!-- data section -->

    <section class="data_section">
        <div class="lower data_lower">
            <div class="lcard">
                <h2>940+</h2>
                <p>Courses</p>
            </div>
            <div class="lcard">
                <h2>5K+</h2>
                <p>Active Students</p>
            </div>
            <div class="lcard">
                <h2>1+</h2>
                <p>Instructor</p>
            </div>
            <div class="lcard rc">
                <h2>10K+</h2>
                <p>Certification</p>
            </div>
        </div>
    </section>


    <!-- category section -->

    <section class="cat_section" id="cat">
        <h2>Browse by category</h2>
        <p>Develop your new skill in 2024 with an ultimate to our 900+ courses.<span> Make sure your new career</span>
        </p>
        <div class="full">
            <span class="crd_grp">
                <div class="crd">
                    <i class="fa-solid fa-cart-shopping" style="color: #5179bd;"></i>
                    <h3>Digital Marketing</h3>
                    <p>20&nbsp;courses</p>
                    <a href="#">Browse All Courses</a>
                </div>
                <div class="crd">
                    <i class="fa-solid fa-cart-shopping" style="color: #5179bd;"></i>
                    <h3>Digital Marketing</h3>
                    <p>20&nbsp;courses</p>
                    <a href="#">Browse All Courses</a>
                </div>
                <div class="crd">
                    <i class="fa-solid fa-cart-shopping" style="color: #5179bd;"></i>
                    <h3>Digital Marketing</h3>
                    <p>20&nbsp;courses</p>
                    <a href="#">Browse All Courses</a>
                </div>
                <div class="crd">
                    <i class="fa-solid fa-cart-shopping" style="color: #5179bd;"></i>
                    <h3>Digital Marketing</h3>
                    <p>20&nbsp;courses</p>
                    <a href="#">Browse All Courses</a>
                </div>
            </span>
            <img src="{% static 'images/coding1.png' %}" alt="banner">
        </div>

    </section>


    <footer>
        <div class="foot-item">
            <img src="{% static 'images/kamal husen logo.png' %}" alt="">
            <p>Choose online video courses with new additons published every month</p>
            <a href="mailto:divyaprakashara09@gmail.com">divyaprakashara09@gmail.com</a>
            <span>+91 7461918110</span>
        </div>
        <div class="foot-item">
            <h3>Quick Links</h3>
            <a href="#">About</a>
            <a href="#">Blogs</a>
            <a href="#">Courses</a>
            <a href="#">Pricing</a>
        </div>
        <div class="foot-item">
            <h3>Resources</h3>
            <a href="#">Course List</a>
            <a href="#">Instructor</a>
            <a href="#">Membership</a>
            <a href="#">FAQS</a>
        </div>
        <div class="foot-item">
            <h3>Support</h3>
            <a href="#">Forums</a>
            <a href="#">Documentation</a>
            <a href="#">Community</a>
            <a href="#">Policy</a>
        </div>
    </footer>







</body>

</html>